
* {
  box-sizing: border-box;
}

:root {
    --primary-color: #003b66;
}

main {
  display: block;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.42857143;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

body.pdf {
  background-color: #ffffff;
  font-size: 14px;
}

li {
  list-style: none;
  position: relative;
}

li:before {
  content: '';
  position: absolute;
  display: block;
  width: 2px;
  height: 80%;
  top: 10%;
  left: -12px;
  background-color: steelblue;
  border-radius: 6px;
}

body.pdf > #main {
  border: none;
}

body.pdf #container > header {
  padding: 0;
  margin: 0;
  margin-bottom: 1.5em;
}

#container > section {
  margin-left: 5em;
  position: relative;
  display: block;
}

span.fa
{
  position: absolute;
  top: 4px;
  left: -50px;
  font-size: 2em;
  color: #003b66;
}

hr {
  margin-top: 20px;
  margin-bottom: 24px;
  border: 0;
  border-top: 1px solid #eee;
}

body.pdf hr {
  margin-top: 20px;
  margin-bottom: 24px;
}

.nowrap {
    white-space: nowrap !important;
}

.tenure, .keywords {
  font-size: 75%;
}

.tenure {
  color: gray;
}

.keywords {
  color: gray;
}

.clear {
  clear: both;
}

h1 {
  color: #003b66;
  margin: 0;
}

h2 {
  font-size: 1.6em;
  color: #003b66;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  margin-bottom: 0;
  font-size: 1.2em;
}

a, a:visited {
  color: #003b66;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

h3 > a:before {
  content: '[';
  font-weight: 300;
  margin: 0 0.4em;
}

h3 > a:after {
  content: ']';
  font-weight: 300;
  margin: 0 0.4em;
}

.defunct {
  color: #989898;
  font-weight: bold;
}

h1, .label {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 200;
}

#contact {
 float: right;
}


#contact > span {
  display: block;
  font-weight: 300;
  color: #003b66;
}

#contact > span > a {
  font-weight: 300;
}

#contact > span .fa {
  color: #003b66;
  width: 32px;
  text-align: center;
}

#container > header {
  width: 100%;
  float: left;
  margin-top: 2em;
  margin-bottom: 3.5em;
}

.sub-title {
  color: #dadada;
}

.label {
  color: #dadada;
}

#summary > p > strong {
  font-size: 1.25em;
}


.label-keyword {
  display: inline-block;
  background: #003b66;
  color: white;
  font-size: 0.75em;
  font-weight: 400;
  padding: 0.05em 0.5em;
  border-radius: 4px;
  margin-top: 2px;
  float: none;
}

.card-skills {
    position: relative;
}
.card-nested {
    min-height: 0;
    margin-bottom: 10px;
    border-width: 1px 0 0 0;
}
.card {
    border-radius: 3px;
    padding: 10px;
    clear: left;
}

.skill-level {
  border-radius: 3px;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  width: 2px;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
}
.skill-level .skill-progress {
  position: absolute;
  border-radius: 3px;
  bottom: 0;
  width: 100%;
  -webkit-transition: height 1s ease;
}
.skill-level .skill-progress.beginner {
  height: 50%;
  background: #e74c3c;
}
.skill-level .skill-progress.intermediate {
  height: 70%;
  background: #f1c40f;
}
.skill-level .skill-progress.advanced {
  height: 80%;
  background: #003b66;
}
.skill-level .skill-progress.master {
  height: 95%;
  background: #5cb85c;
}
.skill-info {
  margin-left: 10px;
}
@media (max-width: 480px) {
  .skill-info {
    margin-left: 20px;
  }
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-unstyled > li:before {
  display: none;
}

.card-skills {
  position: relative;
}

.space-top {
    margin-top: 10px;
}

#container {
  max-width: 900px;
  margin: 0 auto;
}

#elevator-pitch {
  text-align: center;
  font-size: 2em;
  color: #003b66;
  text-transform: uppercase;
  font-weight: normal;
}

.res-label {
  font-style: italic;
}

.float-left {
  float: left;
}

header .label {
  color: #5c5d69; /*#003b66;*/
  font-size: 2em;
  font-weight: 300;
}

body.pdf header h1 {
  font-size: 2em;
}

body.pdf header .label {
  font-size: 1.4em;
}

#container > #summary {
  clear: both;
}

#container > #skills,
#container > #interests {
  float: right;
  clear: right;
  width: 25%;
  margin-left: 4em;
  /* margin-bottom: 5em; */
  z-index: 1;
}

#container > #skills > header span.fa,
#container > #interests > header span.fa {
  top: 50px;
}
